// BACKGROUND COLORS
$bg-color-01: #FFFFFF;
$bg-color-02: #FFFFFF33;
$bg-color-03: #FFFFFF26;
$bg-color-04: #FAFAFA;
$bg-color-05: #FBF9F9;
$bg-color-06: #F9F9F9;
$bg-color-07: #E1E1E1;
$bg-color-08: #FF4612;
$bg-color-09: #EF2853;
$bg-color-10: #EE2852;
$bg-color-11: #1E1E1E4D;
$bg-color-12: #1E1E1E;
$bg-color-13: #1E1C1C;
$bg-color-14: #191516;
$bg-color-15: #181515;
$bg-color-16: #00000026;

// TEXT COLORS
$txt-color-01: #FFFFFF;
$txt-color-02: #FAFAFA;
$txt-color-03: #D2D2D2;
$txt-color-04: #CCCCCC;
$txt-color-05: #C0C0C0;
$txt-color-06: #BDBDBD;
$txt-color-07: #A6A6A6;
$txt-color-08: #FF4612;
$txt-color-09: #6A6A6A;
$txt-color-10: #606060;
$txt-color-11: #555555;
$txt-color-12: #1E1E1E;
$txt-color-13: #181515;
$txt-color-14: #000000;

// FILL COLORS
$fill-color-01: #FFFFFF;
$fill-color-02: #D8D8D8;
$fill-color-03: #EE2852;
$fill-color-04: #000000;

// BORDER COLORS
$bdr-color-01: #FFFFFF;
$bdr-color-02: #ECECEC;
$bdr-color-03: #EBEBEB;
$bdr-color-04: #CCCCCC;
$bdr-color-05: #FF4612;
$bdr-color-06: #1E1E1E;